@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
:root{
    --color: rgba(223, 165, 98, 0.521);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-image: url(01.jpg),  url(3.jpg);
    background-repeat: repeat-y;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins";
}
.card{
    width: 400px;
    height: 600px;
    background: rgba(174, 187, 196, 0.5);
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
}

img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
    margin-left: -10px;
    border-radius: 10px;
    
}

.card__img{
    height: 120px;
    width: 120px;
    border: 2px solid var(--color);
    border-radius: 50%;
    overflow: hidden;
    margin: 0px auto;
    transform: translateY(25px);
}
/* .card__img:hover{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition-delay: 0.25s ;
    transition: 0.5s;
    transform: unset;
    border: none;
} */

h2{
    color: rgb(7, 43, 110);
    margin-top: 100px;
    font-size: 50px;
}
h2:hover{
    color: violet;
}

p{
    color: aqua;
    font-size: 25px;
}
p:hover{
    color: rgba(238, 255, 0, 0.767);
}

a{
    margin: 20px 10px;
    color: white;
}

a:hover{
    color: var(--color);
    padding:10px;
}

.card__social{
    margin: 10px;
    font-size:30px;
    margin-top: 60px;
}

button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgb(101, 206, 238);
    border: 2px solid rgba(240, 124, 124, 0.685);
    margin-top: 60px;
    color: white;
    font-size: 30px;
}

button:hover{
    background-color: rgba(235, 110, 126, 0.377);
    border: 2px solid rgba(124, 240, 234, 0.685);

}

.card i{
    font-size: 50px;
}